body {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-size: 16px 16px;
  background-color: #146c94;
  color: #f6f1f1;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

footer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
}

footer .copyright {
  font-size: 14px;
  color: #f6f1f1;
  text-align: center;
}
footer .copyright a {
  color: #f6f1f1;
}
footer .copyright a:hover {
  color: #555;
}
footer .copyright:before {
  content: '©';
}

.rsschool-img {
  height: 30px;
}

.github-img {
  height: 30px;
}

.github,
.rsschool {
  padding: 5px;
}

.copyright {
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

@media (max-width: 360px) {
  .wrapper {
    margin-left: 20px;
  }
}
